/*HEADER*/
.header {
    padding-bottom: 40px;
}

.header-info {
    padding-top: 64px;
    margin-bottom: 48px;
}

.header-info__title {
    color: var(--color-text);
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    margin: 0;
}

.header-info__description {
    color: var(--color-text);
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
}

/*HEADER - SEARCH*/
.header-search {
    display: flex;
}

.input-text {
    color: #818182;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    padding-bottom: 3px;
    display: block;
}

.field-input {
    height: 38px;

    border-radius: 4px;
    border: 1px solid var(--stroke-input, #ced4da);
    background: var(--gray-white, #fff);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 17.22px;
}
