.button-like-list {
    position: fixed;
    bottom: 40px;
    right: 40px;

    display: flex;
    padding: 10px;
    margin: 0;
    width: 157px;
    /* height: 48px; */

    align-items: center;
    justify-content: space-around;
    border-radius: 48px;
    background: #FFF;
    border: none;
    /* Large-Shadow */
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.button-like-list__title {
    color: #3F444A;
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin: 0;
}